.head__Title {
    color: blueviolet;
    text-align: center;
    font-size: 40px;
}

.head__Link {
    text-decoration: none;
    color: black;
}

.head__Link:hover{
    color:rgba(0,0,0,0.3)
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
    font-size: 20px;
    line-height: 2;
}